# Ejercicio 23
¿Qué porcentaje de los contenidos contienen a su mismo título en el texto?

In [1]:
import pandas as pd

In [2]:
contents_text_sample = pd.read_csv('wikipedia_dataset-2c2021/contents_text_sample.csv')

In [3]:
contents_text_sample.head()

    id          title                                               text
0   50  Anacardiaceae  {{Ficha de taxón\n| name = Anacardiáceas\n| im...
1   62  Antipartícula  [[Archivo:Materia antimateria.png|thumb|200px|...
2   78   Año bisiesto  '''Año bisiesto''' es una expresión que deriva...
3  127          Avena  {{otros usos|Avena sativa|la avena común}}\n{{...
4  160       Alfabeto  {{distinguir|analfabeto|alfabetización}} \n[[A...

In [4]:
contents_text_sample.isna().sum()

id       0
title    0
text     7
dtype: int64

In [5]:
contents_text_sample.shape

(206607, 3)

In [6]:
contents_text_sample=contents_text_sample.dropna()

In [7]:
contents_text_sample.isna().sum()

id       0
title    0
text     0
dtype: int64

In [8]:
contents_text_sample['text_contains_title'] = contents_text_sample.apply(lambda x: x['title'] in x['text'], axis=1)
contents_text_sample.head()

,id,title,text,text_contains_title
0,50,Anacardiaceae,{{Ficha de taxón\n| name = Anacardiáceas\n| im...,True
1,62,Antipartícula,[[Archivo:Materia antimateria.png|thumb|200px|...,False
2,78,Año bisiesto,'''Año bisiesto''' es una expresión que deriva...,True
3,127,Avena,{{otros usos|Avena sativa|la avena común}}\n{{...,True
4,160,Alfabeto,{{distinguir|analfabeto|alfabetización}} \n[[A...,True

In [9]:
promedio = contents_text_sample['text_contains_title'].mean()*100

## Resultado

In [10]:
print('El porcentaje de los contenidos contienen a su mismo título en el texto es: %f porciento'%(promedio))

El porcentaje de los contenidos contienen a su mismo título en el texto es: 33.597289 porciento